<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ryd3rNetworkMonitor.ClientControlPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <Ryd3rNetworkMonitor.ClientControlPanel.Properties.Settings>
            <setting name="ServerIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="RegPort" serializeAs="String">
                <value>17179</value>
            </setting>
            <setting name="MesPort" serializeAs="String">
                <value>17178</value>
            </setting>
            <setting name="SendOnClick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ResponseTimeout" serializeAs="String">
                <value>15</value>
            </setting>
        </Ryd3rNetworkMonitor.ClientControlPanel.Properties.Settings>
    </userSettings>
</configuration>